*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

/* Form Section */
form{
    width: 45%;
    max-width: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 3.125rem;
}

/* Title Section */
.title{
    font-size: 1.55rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
}

/* Label section */
label{
    display: block;
    margin-bottom: .125rem;
}

/* Input section */
form div input{
    width: 100%;
    height: 2.5rem;
    border-radius: 0.5rem;
    outline: none;
    border: 2px solid #c4c4c4;
    padding: 0 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
form div{
    position: relative;
    margin-bottom: 0.945rem;
}
input:focus{
    border: 2px solid #f2796e;
}
form div i{
    position: absolute;
    padding: 10px;
}

/* Error section */
.failure-icon, .error{
    color: red;
}
.success-icon{
    color: green;
}
.failure-icon, .success-icon{
    right: 0;
    opacity: 0;
}
.error{
    font-size: 14.5px;
    margin-top: 5px;
}
/* Submit section */
button{
    margin-top: 15px;
    width: 100%;
    height: 45px;
    background-color: #f2796e;
    border: 2px solid #f2796e;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease;
}
button:hover{
    opacity: 0.8;
}
/* Social section */
.btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}
.btn-1, .btn-2{
    padding: 10px 5px;
    width: 100%;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    border: 2p solid #c4c4c4;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.btn-2{
    background-color: #4f70b5;
    color: white;
}
.or {
    text-align: center;
}
.question{
    font-size: 15px;
}
span {
    color: #f2796e;
    cursor: pointer;
}
